@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Pretendard-Regular.subset.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Pretendard-SemiBold.subset.woff2') format('woff2');
}

@theme {
  --font-pretendard: 'Pretendard', sans-serif;
}
